html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
}

h1 {
  margin: 0;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141e30), to(#243b55));
  background-image: linear-gradient(#141e30, #243b55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  color: white;
  padding: 10px 0;
  width: 400px;
}

.login-box-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.login-box-form {
  padding: 20px;
}

.login-box-form-control {
  position: relative;
}

.login-box-form-control label {
  font-size: 1rem;
  position: absolute;
  left: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding: 0 5px;
  pointer-events: none;
}

.login-box-form-control input {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 30px;
  color: white;
}

.login-box-form-control input:focus ~ label, .login-box-form-control input:valid ~ label {
  top: -15px;
  font-size: 0.7rem;
  color: #03e9f4;
}

.login-box-form-submit {
  margin: 0;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #03e9f4;
  letter-spacing: 4px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-box-form-submit:hover {
  background-color: #03e9f4;
  -webkit-box-shadow: 0 0 100px #03e9f4;
          box-shadow: 0 0 100px #03e9f4;
  border-radius: 5px;
  color: white;
}

.login-box-form-submit span {
  position: absolute;
  display: block;
}

.login-box-form-submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: childTop 1s linear infinite;
          animation: childTop 1s linear infinite;
}

.login-box-form-submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: childRight 1s linear infinite;
          animation: childRight 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.login-box-form-submit span:nth-child(3) {
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(240deg, transparent, #03e9f4);
  -webkit-animation: childBottom 1s linear infinite;
          animation: childBottom 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.login-box-form-submit span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: childLeft 1s linear infinite;
          animation: childLeft 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes childTop {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes childTop {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@-webkit-keyframes childRight {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes childRight {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@-webkit-keyframes childBottom {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes childBottom {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@-webkit-keyframes childLeft {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes childLeft {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */